In [1]:
print('Hello world')

Hello world

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path1='/content/drive/MyDrive/Colab Notebooks/Assignment/EnergyForecastData.xlsx'
path2='/content/drive/MyDrive/Colab Notebooks/Assignment/Finaldraft.asv'

In [4]:
path1='/content/drive/MyDrive/Colab Notebooks/Assignment/EnergyForecastData.xlsx'
import pandas as pd
df=pd.read_excel(path1)
print(df)

    Year  Population  Annual CO2 Emissions  \
0   1990     4978489                630642
1   1991     5149496                733234
2   1992     5331805                788194
3   1993     5521761                957646
4   1994     5714215               1098391
5   1995     5905552               1117483
6   1996     6094272               1150830
7   1997     6281644               1194663
8   1998     6470275               1113856
9   1999     6664102               1461936
10  2000     6865946               1472928
11  2001     7076728               1689104
12  2002     7295400               2110055
13  2003     7520556               2393998
14  2004     7750003               2593600
15  2005     7982223               2489730
16  2006     8216893               3351106
17  2007     8454790               3930960
18  2008     8696915               3918994
19  2009     8944713               4224517
20  2010     9199254               4679390
21  2011     9460829               4479719
22  2012     9729254               4402539
23  2013    10004594               4565975
24  2014    10286839               4796000
25  2015    10575962               5325566
26  2016    10872072               6600270
27  2017    11175192               6937710
28  2018    11485035               7254633
29  2019    11801151               7315116
30  2020    12123198               6702765

    GDP per capita, PPP (constant 2017 international $)  \
0                                         2175.208576
1                                         2191.840607
2                                         2179.507230
3                                         2227.353200
4                                         2195.822052
5                                         2253.119526
6                                         2277.761816
7                                         2336.545872
8                                         2358.280127
9                                         2411.991564
10                                        2478.218238
11                                        2532.634052
12                                        2570.787304
13                                        2579.697807
14                                        2614.212455
15                                        2581.642252
16                                        2606.817449
17                                        2685.130261
18                                        2738.194385
19                                        2724.084767
20                                        2704.705484
21                                        2707.869700
22                                        2759.848256
23                                        2876.903909
24                                        2975.854782
25                                        2945.970221
26                                        2961.440416
27                                        3044.517156
28                                        3160.780670
29                                        3287.309538
30                                        3323.144451

    Fossil fuels (% electricity)  Carbon Intensity  \
0                            NaN               NaN
1                            NaN               NaN
2                            NaN               NaN
3                            NaN               NaN
4                            NaN               NaN
5                            NaN               NaN
6                            NaN               NaN
7                            NaN               NaN
8                            NaN               NaN
9                            NaN               NaN
10                       100.000           750.000
11                       100.000           666.667
12                       100.000           666.667
13                       100.000           714.286
14                       100.000           750.000
15                       100.000           700.000
16                       100.000           714.286
17                       100.000           714.286
18                       100.000           681.818
19                       100.000           666.667
20                       100.000           727.273
21                       100.000           700.000
22                       100.000           800.000
23                       100.000           666.667
24                       100.000           695.652
25                       100.000           709.677
26                       100.000           720.000
27                       100.000           709.677
28                       100.000           684.211
29                        95.000           650.000
30                        95.652           652.174

    Annual CO2 emissions per unit energy (kg per kilowatt-hour)
0                                              0.2466
1                                              0.2454
2                                              0.2374
3                                              0.2623
4                                              0.2875
5                                              0.2710
6                                              0.2557
7                                              0.2454
8                                              0.2122
9                                              0.5673
10                                             0.2146
11                                             0.2162
12                                             0.2357
13                                             0.2303
14                                             0.2367
15                                             0.2420
16                                             0.2383
17                                             0.2368
18                                             0.2309
19                                             0.2242
20                                             0.2165
21                                             0.2223
22                                             0.2302
23                                             0.2343
24                                             0.2328
25                                             0.2338
26                                             0.2376
27                                             0.2355
28                                             0.2220
29                                             0.2497
30                                                NaN

In [5]:
df.head()

,Year,Population,Annual CO2 Emissions,"GDP per capita, PPP (constant 2017 international $)",Fossil fuels (% electricity),Carbon Intensity,Annual CO2 emissions per unit energy (kg per kilowatt-hour)
0,1990,4978489,630642,2175.208576,NaN,NaN,0.2466
1,1991,5149496,733234,2191.840607,NaN,NaN,0.2454
2,1992,5331805,788194,2179.507230,NaN,NaN,0.2374
3,1993,5521761,957646,2227.353200,NaN,NaN,0.2623
4,1994,5714215,1098391,2195.822052,NaN,NaN,0.2875

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Year                                                         31 non-null     int64
 1   Population                                                   31 non-null     int64
 2   Annual CO2 Emissions                                         31 non-null     int64
 3   GDP per capita, PPP (constant 2017 international $)          31 non-null     float64
 4   Fossil fuels (% electricity)                                 21 non-null     float64
 5   Carbon Intensity                                             21 non-null     float64
 6   Annual CO2 emissions per unit energy (kg per kilowatt-hour)  30 non-null     float64
dtypes: float64(4), int64(3)
memory usage: 1.8 KB

In [7]:
df.describe()

,Year,Population,Annual CO2 Emissions,"GDP per capita, PPP (constant 2017 international $)",Fossil fuels (% electricity),Carbon Intensity,Annual CO2 emissions per unit energy (kg per kilowatt-hour)
count,31.000000,3.100000e+01,3.100000e+01,31.000000,21.000000,21.000000,30.000000
mean,2005.000000,8.181586e+06,3.273598e+06,2627.974004,99.554857,701.905143,0.248373
std,9.092121,2.150550e+06,2.184713e+06,330.452327,1.409679,36.536022,0.062444
min,1990.000000,4.978489e+06,6.306420e+05,2175.208576,95.000000,650.000000,0.212200
25%,1997.500000,6.375960e+06,1.172746e+06,2347.413000,100.000000,666.667000,0.230225
50%,2005.000000,7.982223e+06,2.593600e+06,2606.817449,100.000000,700.000000,0.236200
75%,2012.500000,9.866924e+06,4.622682e+06,2818.376082,100.000000,714.286000,0.245400
max,2020.000000,1.212320e+07,7.315116e+06,3323.144451,100.000000,800.000000,0.567300